body {
   margin: 0;
   font-family:'Georgia', Times, Times New Roman, serif;
}
 
header {
    background-color:#ffffff;
    height: 100px;
    padding: 10px;
    border: 1px solid #cccccc;
}

h1, h2, h3, h4, h5, h6 {
   font-family: font-family: 'Georgia', Times, Times New Roman, serif;
}
  
.aboutme {
    float: left;
    height: 110px;
    background-color: #4aaaa5;
    margin-left: 218px;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    text-align: center;
}
    
.port-links {
    float: right;
    padding: 10px;
    margin-right: 250px;
    margin-top: 40px;
}


main {
    background-color: #ffffff;
    width: 960px;
    padding: 10px;
    border: 2px solid #dddddd;
    margin: auto;
    margin-top: 50px;
}

hr {
    margin: 20px;
    border-width: 2px;
    border-style: solid;

}
 
.right1 {
    margin-left: 40px;
}

.left1 {
    text-align: justify;
    color: dimgray;
}

.headphoto {
    float: left;
    padding: 10px;
    margin: 10px;
}
  
.headshot {
    padding: 20px;
}

footer {
    background-color: #666666;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: 8px solid #4aaaa5;
    font-size: 12px;
}